page-games {
    .badge{        
            padding: 4px 6px 2px;
            position: absolute;
            top: -5px;
            right: -10px;
            background-color: #548185;        
            border-color: #548185;
    }
}
