<!--
  Generated template for the ChangePasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar hideBackButton>
		<ion-title>Change Password</ion-title>
	</ion-navbar>

</ion-header>


<ion-content padding>
	<form [formGroup]="change_password" #f="ngForm" novalidate>
		<ion-list class="form-inputs">
			<ion-item class="pwd-input">
				<ion-input type="password" placeholder="Current Password" formControlName='current_pwd'></ion-input>
			</ion-item>
			<!-- <div *ngIf="f.submitted && change_password.controls.current_pwd.errors?.required">Please enter valid email address</div> -->
			<ion-item class="pwd-input">
				<ion-input type="password" placeholder="New Password" formControlName='new_password'></ion-input>
			</ion-item>
			<!-- <div *ngIf="f.submitted && change_password.controls.new_password.errors?.required">Please enter valid email address</div> -->
			<ion-item class="pwd-input">
				<ion-input type="password" placeholder="Confirm New Password" formControlName='confirm_pwd'></ion-input>
			</ion-item>
			<!-- <div *ngIf="f.submitted && change_password.controls.confirm_pwd.errors?.required">Please enter valid email address</div> -->
		</ion-list>
	</form>
	<ion-list class="common-btns">
		<ion-item>
			<button ion-button outline (click)='change_pwd()' type='submit' [disabled]='change_password.invalid'>SAVE</button>
		</ion-item>
		<ion-item>
			<button ion-button outline (click)='goto_dashboard()'>BACK</button>
		</ion-item>
	</ion-list>
</ion-content>